body{
    background: url('img/eight_horns.png');
    /*background-size: cover;*/
    background-repeat: repeat;
    background-attachment : scroll;
    /*background-position: center center;*/
    /*background: url('img/bg.jpg') no-repeat fixed center center;
    background-size: cover;*/
}
/*
.fondo{
    width: 600px;
    height: 600px;
    background: url(img/bg.jpg) #000;
    background-repeat: no-repeat;
    background-size: 50%;
}
*/
