<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Basica</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav >
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="imagen">
                <img src="img/bg.jpg" alt="Cago imagen">
            </div>
            <section class="post">
                <article>
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum labore natus officia. Aspernatur fugiat vel inventore placeat, tenetur, deleniti omnis temporibus impedit asperiores ut itaque est a nemo expedita ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestias atque dolor iure possimus fuga ab voluptates beatae harum perferendis, impedit quod eos porro nemo vel. Quod incidunt possimus placeat.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum labore natus officia. Aspernatur fugiat vel inventore placeat, tenetur, deleniti omnis temporibus impedit asperiores ut itaque est a nemo expedita ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestias atque dolor iure possimus fuga ab voluptates beatae harum perferendis, impedit quod eos porro nemo vel. Quod incidunt possimus placeat.</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo"> Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In recusandae tempora officia molestias quasi laudantium ea ipsum? Eos reiciendis tenetur consequatur doloribus, tempore aliquam odio corrupti, exercitationem incidunt pariatur deserunt.</p>
            </div>
        </aside>
        <footer>
            <p>Héctor Oróstica 2018 - Todos los Derechos Reservados</p>
        </footer>
    </div>
</body>
</html>